body {
  background-color: white;
}

.navbar {
  position: static;
  top: 0;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 20px 20px;
}

.navbar a {
  text-decoration: none;
  color: gray;
  font-size: 22px;
}

#banner {
  background-image: url("TestPage/images/mntcloud.jpeg");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}

#banner .content h1 {
  border: solid 3px teal;
  color: gray;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}

h1 {
  color: white;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

.back {
  background-color: #B6CECE;
}

.we {
  color: gray;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
  text-align: left;
  margin-right: 50%;
}

.objective {
  color: gray;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
  text-align: right;
  margin-left: 50%;
}

.footer1 {
  padding: 40px 0px;
  position: relative;
  text-align: center;
  border: 1px solid gray;
  width: 100%;
  background-color: teal;
}