body {
  background-image: url("images/sun.png");
  background-repeat: no-repeat;
  font-family: roboto;
}

.navbar {
  position: static;
  top: 0;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 20px 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

main {
  padding: 50px;
  font-weight: bold;
}

.header {
  padding-top: 200px;
}

.pitch {
  width: 50%;
}

.pitch-cont {
  display: flex;
  justify-content: left;
  width: 75%;
}

.objective {
  padding: 100px;
  text-align: right;
  color: white;
  font-weight: bold;
}

.object {
  display: flex;
  justify-content: right;
  width: 100%;
  color: white;
}

footer {
  text-align: center;
  font-weight: bold;
  color: white;
}