body {
  font-family: roboto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 10px 20px;
}

.navbar a {
  text-decoration: none;
  color: #364B71;
}

.banner {
  margin-top: 50px;
  padding: 100px;
  text-align: center;
  background-position: top;
  background-size: cover;
  background-color: #364B71;
}

#banner-intro {
  text-align: center;
  font-weight: bold;
  color: white;
}

.bulb {
  text-align: center;
  background-size: cover;
  background-color: #161616;
  background-position: top;
  color: white;
}

footer {
  text-align: center;
  background-color: #364B71;
  padding: 5px;
  color: white;
}
