body {
  font-family: roboto;
  background-color: white;
}

.navbar {
  position: static;
  top: 0;
  width: 100%;
  background-color: #D4DFE3
  
}

.navbar li {
  display: inline-block;
  padding: 20px 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

main {
  padding: 100px;
  text-align: center;
  font-weight: bold;
}

.objective {
  padding: 100px;
  text-align: center;
  font-weight: bold;
}

footer {
  text-align: center;
  font-weight: bold;
}
